# UI Framework
streamlit
PyPDF2
langchain_openai
langchain
faiss-cpu
tiktoken

# ---- Azure OpenAI ----
openai>=1.3.0

# ---- Env management ----
python-dotenv

# ---- CrewAI Framework ----
crewai>=0.28.8
crewai-tools>=0.2.6
requests
googlesearch-python

